#galleryWidget {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.galleryContainer {
    height: 50vh;
    width: 50vh;
    margin: 10px;
    cursor: zoom-in;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.galleryContainer:nth-child(odd) {
    border: solid #be8d62 2px;
}

.galleryImage {
    display: block;
    height: auto;
    width: auto;
    min-height: 100%;
    max-height: 150%;
    max-width: 200%;
}

/*
Zoomed image styling
*/
#zoomContainer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.85);
    z-index: 4;
    cursor: zoom-out;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#zoomMessage {
    height: 10%;
    color: ghostwhite;
    font-size: 7.5vmin;
    font-family: OPTIBakerDanmarkOne;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#zoomImage {
    max-height: 90%;
    max-width: 90%;
}
